@import "tailwindcss";

:root {
  --bg: #020617;
  --text: #f8fafc;
}

.light {
  --bg: #f8fafc;
  --text: #020617;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-100 text-slate-900;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out;
}
